{% extends "layout.html" %}

{% block content %}
    <div class="header_section my-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="index.html"><img src="static/images/logo.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>


    <h1>Real-time Hand Detection</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
     
{% endblock %}
